<div class="product">
    <div class="product__info">
        <div class="product__title">
            The lawal Amazon
        </div>
        <div class="product__price">
            <small>$</small>
            <strong>29.89</strong>
        </div>
        <div class="product__rating">
            <p><i class="fa fa-star" aria-hidden="true"></i></p>
            <p><i class="fa fa-star" aria-hidden="true"></i></p>
            <p><i class="fa fa-star" aria-hidden="true"></i></p>
        </div>
    </div>
    <div class="product__image">
        <img 
            src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_Gaming_1x._SY304_CB432517394_.jpg" 
            alt="">
    </div>
    <button>Add to basket</button>
</div>