/* You can add global styles to this file, and also import other style files */
@import '~node_modules/bootstrap/scss/bootstrap.scss';
@import '~node_modules/font-awesome/scss/font-awesome.scss';
// @import '~node_modules/material-icons/iconfont/material-icons.scss';

html, body { height: 100%; }
body { 
    background-color: rgba(234, 237, 237);
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
