<!-- <div class="angular__youtube">
    https://www.youtube.com/watch?v=Jb3o0U6sRAg
</div> -->
<div class="home">
  <div class="home__container">
    <img
      class="home__image"
      src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/HolidayDeals/Promo/Desktop/Fuji_TallHero_HD_NG_en_US_1x._CB414678881_.jpg"
      alt=""
    />
    <div class="home__row">
      <app-product></app-product>
      <app-product></app-product>
    </div>
    <div class="home__row">
      <app-product></app-product>
      <app-product></app-product>
      <app-product></app-product>
    </div>
    <div class="home__row">
      <app-product></app-product>
    </div>
</div>